body {
    background-color: #2196f3;
}

.btn {
    background-image: none;
    background-color: #2196f3;
}

.btn:hover {
    background-image: none;
    background-color: #0D47A1;
}

#brand-image {
    max-height: 50px;
}
