body {
    font-family: 'Roboto', sans-serif;
    background-color: #2196f3;
}

.btn {
    background-image: none;
    background-color: #2196f3;
    color: white;
}

.btn:hover {
    background-image: none;
    background-color: #0D47A1;
    color: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: none;
    box-shadow: none;
}

#brand-image {
    max-height: 65px;
}

#user-icon {
    max-height: 35px;
    margin: -10px;
    color: #2196f3;
}

#user-icon:hover {
    max-height: 35px;
    margin: -10px;
    color: #0D47A1;
}

#navbar {
    text-align: center;
}

#navbar li {
    padding-top: 7px;
}
