/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.jumbotron {
    height: 500px;
    position: relative;
    background: #000 url("../static/jumbottron.png") center center;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

.input-group {
    padding-top: 125px;
}

.info {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
    border-radius: 10px;
    margin: 10px;
    color: white;
    background-color: #0D47A1;
}

.row-center {
    text-align: center;
}

.searchtype-input {
    height: 30px;
    width: 60px;
    background: #2196f3;
    color: white;
    border-radius: 6px;
    border: 1px solid #245580;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

input[type="radio"]:checked+label, .searchtype-input:hover {
    background: #245580;
}

input[type="radio"] {
    display: none;
}

button {
    margin-top: 5px;
}

.btn {
    border-radius: 6px !important;
}
