#content {
    margin-top: 70px;
}



#lifts-header {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
}

#reser-header {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
}

.panel-default>.panel-heading {
  color: white;
  background-color: #2196f3;
  background-image: none;
  font-weight: 900;
}
