.result-container:first-child {
    margin-top: 52px;
}

.result-container {
    cursor: pointer;
}

.jumbotron {
    margin-top: 70px;
}

.two-way {
    color: green;
    float: right;
    height: 25px;
    width: 25px;
    font-size: 25px;
}

.lift-price {
    text-decoration: bold;
}
