<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>EventLift</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="shortcut icon" href="../static/test.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../static/base.css">

    {% block head %} {% endblock %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a href="/"><img alt="Brand" id="brand-image" src="../static/teste.png"></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  {% if session['username'] is not defined %}
                  <li><a href="/login">Login<span class="sr-only">(current)</span></a></li>
                  <li><a href="/register">Register<span class="sr-only">(current)</span></a></li>
                  {% else %}
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><!--{{ session['username'] }}<span class="caret">--><img alt="Brand" id="brand-image" src="../static/user_icon.png"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="/profile">View Profile</a></li>
                          <li><a href="/create_event">Create Event</a></li>
                          <li><a href="">TODO: My Events</a></li>
                          <li><a href="/signout">Sign Out</a></li>
                      </ul>
                  </li>
                  {% endif %}
              </ul>
          </div>
          <!--/.nav-collapse -->
      </div>
  </nav>

    <div id="content">
        {% block content %} {% endblock %}
    </div>

    <div id="footer">
        {% block footer %} {% endblock %}
    </div>
</body>
</html>
