{% extends "base.html" %}
 {% block head %}
<link rel="stylesheet" type="text/css" href="../static/create_event.css"> {% endblock %} {% block content %}

<div class="container">
    <form class="form-create-event" method="post">
        <h2 class="form-create-event-heading text-center">Create event</h2>
        <label for="inputName" class="sr-only">Name</label>
        <input type="text"  name="name" class="form-control" id="inputName" placeholder="Name" required autofocus>
        <label for="inputLocal" class="sr-only">Local</label>
        <input type="text" name="local" class="form-control" id="inputLocal" placeholder="Local" required autofocus>
        <label for="inputSDate" class="sr-only">Start Date</label>
        <input type="text" name="sdate" class="form-control" id="inputSDate" placeholder="Start Date" required autofocus>
        <label for="inputEDate" class="sr-only">End Date</label>
        <input type="text"  name="edate" class="form-control" id="inputEDate" placeholder="End Date" required autofocus>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

{% endblock %}
