{% extends "base.html" %} {% block header %}

{% endblock %}

{% block content %}

<h1>{{ event[0][0] }}</h1>

<p>Location: {{ event[0][1] }}</p>
<p>Start time: {{ event[0][2] }}</p>
<p>End time: {{ event[0][3] }}</p>

<h2>Lifts</h2>

<p>Owner: {{ lifts[0][0] }}</p>
<p>Event: {{ lifts[0][1] }}</p>
<p>Price: {{ lifts[0][2] }}</p>
<p>Two way: {{ lifts[0][3] }}</p>
<p>Leave time: {{ lifts[0][4] }}</p>
<p>Leave place: {{ lifts[0][5] }}</p>
<p>Num seats: {{ lifts[0][6] }}</p>
<p>Num empty seats: {{ lifts[0][7] }}</p>

{% endblock %}

{% block footer %} {% endblock %}
