{% extends "base.html" %} {% block header %} {% endblock %} {% block content %}
<link rel="stylesheet" type="text/css" href="../static/event.css">

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="jumbotron class1">

                    <div class="event-info ">
                        <h1> {{ event[0][0] }} </h1>
                        <h2> {{ event[0][1] }} </h2>
                        <h3> {{ event[0][2] }} - {{ event[0][3] }} </h3>
                    </div>

                    <hr>

                    <script>
                        function gotocreatelift() {
                            window.location.href = window.location.pathname + "/create_lift";
                        }
                    </script>
                    <h2 id="lifts-title">Lifts</h2> <button id="addlift" class="btn btn-lg btn-primary btn-block btn-search" onclick="gotocreatelift()">Add lift</button>
                    <div class="list-group">
                        {% for lift in lifts %}
                            <div class="result-container list-group-item">
                                {% if lift[3] == "Yes" %}
                                <span class="glyphicon glyphicon-transfer two-way"></span>
                                {% endif %}
                                <h3>{{ lift[5] }} - {{ lift[4] }}</h3>
                                <p>By: {{ lift[0] }}</p>
                                <p class="lift-price">{{ lift[2] }}€</p>
                                <p>{{ lift[7] }}/{{ lift[6] }} places left</p>                                
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %} {% block footer %} {% endblock %}
