{% extends "base.html" %} {% block head %}
<link rel="stylesheet" type="text/css" href="../static/home.css"> {% endblock %} {% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <!-- /.col-lg-6 -->
            <div class="col-lg-6 col-md-offset-3">
                <div class="input-group">
                    <form class="form-create-event" method="get" action="/search">
                        <input id="lift-input" type="radio" name="searchtype" value="lift" checked>
                        <label class="searchtype-input" for="lift-input">Lift</label>
                        <input id="event-input" type="radio" name="searchtype" value="event" checked>
                        <label class="searchtype-input" for="event-input">Event</label>

                        <input name="search" type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                          <button class="btn btn-lg btn-primary btn-block btn-search" type="submit">Search</button>
                        </span>
                    </form>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row row-center">
        <div class="col-md-3 col-offset-3 info">
            <h2>Create Events</h2>
            <p> Create and share your event. It's always more fun with your friends.</p>
        </div>
        <div class="col-md-3 info">
            <h2>Shares Rides</h2>
            <p> On your way to the event you might want to share your ride. Split the bill, cut the costs and enjoy the ride!</p>
        </div>
        <div class="col-md-3 info">
            <h2>Get a ride</h2>
            <p>Do you want to attend an event but have no way to get there? No problem, find a ride here!</p>
        </div>
    </div>

    <hr>

</div>
{% endblock %}
