{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="../static/login.css">
{% endblock %}

{% block content %}

<div class="container">
    <form class="form-signin" method="post">
        <h2 class="form-signin-heading text-center">Sign In</h2>
        <label for="inputEmail" class="sr-only" >Username</label>
        <input type="text" name="username" class="form-control" id="firstElem" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" id="lastElem" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
<!-- /container -->

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

{% endblock %}
