{% extends "base.html" %} {% block head %}
<link rel="stylesheet" type="text/css" href="../static/profile.css"> {% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="jumbotron">
                    <h1 class="text-center">{{ session['username'] }}</h1>
                    <h3 class="text-center"> User Info</h3>
                    <h4>E-Mail: {{user_data[0][1]}}</h4>
                    <h4>Phone: {{user_data[0][2]}}</h4>

                    <hr>

                    <div class="list-group">
                        <h3 class="list-group-item-heading text-center">List of lifts</h3> {% for lift in user_lifts %}
                        <div href="#" class="list-group-item">
                            <h4>{{lift[8]}} - {{lift[9]}} - {{lift[10]}}</h4>
                            <h5>{{lift[6]}} seats</h5>
                            <!-- Evento - nome 8, localização 9, data 10
                                     Boleia - Nr lugares disponibilizados 6-->
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="list-group">
                        <h3 class="list-group-item-heading text-center">List of reservations</h3> {% for reservation in user_reservations %}
                        <div href="#" class="list-group-item">
                            <h4> {{reseservation[0]}} </h4>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endblock %}
