{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="../static/register.css">
{% endblock %}

{% block content %}

<div class="container">
    <form class="form-register" method="post">
        <h2 class="form-register-heading text-center">Register</h2>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" name="username" class="form-control" id="firstElem" placeholder="Username" required autofocus>

        <label for="inputEmail" class="sr-only">E-Mail</label>
        <input type="email" name="email" class="form-control" placeholder="E-Mail" required autofocus>

        <label for="inputPhone" class="sr-only">E-Mail</label>
        <input type="text" name="phone" class="form-control" placeholder="Phone Number" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>

        <label for="confirmPassword" class="sr-only">Confirm Password</label>
        <input type="password" name="password2" class="form-control" id="lastElem" placeholder="Confirm Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>
<!-- /container -->

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

{% endblock %}
