{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="../static/search.css">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="jumbotron">
                    <h1 class="text-center">Search results</h1>
                    {% if results[0]|length == 5 %}
                        <h2 class="text-center">Events</h2>
                    {% elif results[0]|length == 13 %}
                        <h2 class="text-center">Lifts</h2>
                    {% endif %}
                    <hr>
                    <div class="list-group">
                    {% for result in results %}
                        {% if results[0]|length == 5 %}
                            <div onclick="window.location.href='event/{{ result[4] }}'" class="result-container list-group-item">
                            <h2> {{ result[0] }} </h2>
                            <h3> {{ result[1] }} </h3>
                            <h4> {{ result[2] }} -  {{ result[3]}} </h4>
                        {% elif results[0]|length == 13 %}
                            <div onclick="window.location.href='lift/{{ result[12] }}'" class="result-container list-group-item">
                            {% if result[3] == "Yes" %}
                            <span class="glyphicon glyphicon-transfer two-way"></span>
                            {% endif %}
                            <h3>{{ result[5] }} - {{ result[4] }}</h3>
                            <p>By: {{ result[0] }}</p>
                            <p class="lift-price">{{ result[2] }}€</p>
                            <p>{{ result[7] }}/{{ result[6] }} places left</p>


                        {% endif %}
                            
                        

                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
